
<h2>{{oneMovie.title}}</h2>
<h3>{{oneMovie.director}}</h3>
<h5>Stars</h5>
<li><ul>{{oneMovie.stars}}</ul></li>
<img src="{{oneMovie.url}}" alt="pokemon" height="200px">
<p>{{oneMovie.description}}</p>
<h4>{{oneMovie.showtime}}</h4>

